################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MuteIndicator
/MuteIndicator/bin
/MuteIndicator/obj
*.user
